!! 5
%html
%head
  %link{ rel: "stylesheet", type: "text/css"}
  %script{ type: "text/javascript", src: "http://mbostock.github.com/d3/d3.js" }
  %script{ type:"text/javascript", src:"cal-heatmap.min.js" }
%body
  #cal-heatmap
  #viz